---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Container value="xsmall">
    <form method="post" action="https://hyperform.jp/api/xCnQTnQ4" enctype="multipart/form-data">
      <ul>
        <li>
          <label>お名前</label>
          <input type="text" name="お名前" placeholder="例）山田太郎" required />
        </li>
        <li>
          <label>メールアドレス</label>
          <input type="email" name="email" placeholder="例）example@example.com" required />
        </li>
        <li>
          <label>添付ファイル</label>
          <input type="file" name="添付ファイル" />
        </li>
      </ul>
      <button type="submit">送信</button>
    </form>

    <form method="post" action="https://hyperform.jp/api/xCnQTnQ4">
      <div>
        <label>お名前</label>
        <input type="text" name="お名前" placeholder="例）山田太郎" required />
      </div>
      <div>
        <label>メールアドレス</label>
        <input type="email" name="email" placeholder="例）example@example.com" required />
      </div>
      <div>
        <label>注文内容</label>
        <table>
          <tbody>
            <tr>
              <th>キャップ</th>
              <td>
                <select name="商品[キャップ][カラー]">
                  <option>赤</option>
                  <option>青</option>
                  <option>緑</option>
                </select>
              </td>
              <td>
                <select name="商品[キャップ][サイズ]">
                  <option>S</option>
                  <option>M</option>
                  <option>L</option>
                </select>
              </td>
              <td>
                <input name="商品[キャップ][数量]" type="number" min="0" max="10" value="0" />
              </td>
              <td>個</td>
            </tr>
            <tr>
              <th>アウター</th>
              <td>
                <select name="商品[アウター][カラー]">
                  <option>赤</option>
                  <option>青</option>
                  <option>緑</option>
                </select>
              </td>
              <td>
                <select name="商品[アウター][サイズ]">
                  <option>S</option>
                  <option>M</option>
                  <option>L</option>
                </select>
              </td>
              <td>
                <input name="商品[アウター][数量]" type="number" min="0" max="10" value="0" />
              </td>
              <td>個</td>
            </tr>
            <tr>
              <th>パンツ</th>
              <td>
                <select name="商品[パンツ][カラー]">
                  <option>赤</option>
                  <option>青</option>
                  <option>緑</option>
                </select>
              </td>
              <td>
                <select name="商品[パンツ][サイズ]">
                  <option>S</option>
                  <option>M</option>
                  <option>L</option>
                </select>
              </td>
              <td>
                <input name="商品[パンツ][数量]" type="number" min="0" max="10" value="0" />
              </td>
              <td>個</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit">送信</button>
    </form>

    <form method="post" action="https://hyperform.jp/api/xCnQTnQ4">
      <label>ペット</label>
      <button type="button">+ ペットを追加</button>
      <button type="submit">送信</button>
    </form>

    <template>
      <div class="pet">
        <label>お名前</label>
        <input type="text" name="ペット[名前][]" required />
        <label>性別</label>
        <select type="text" name="ペット[性別][]" required>
          <option disabled selected></option>
          <option>男の子</option>
          <option>女の子</option>
        </select>
        <label>品種</label>
        <input type="text" name="ペット[種類][]" required />
      </div>
    </template>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const template = document.querySelector("template");
        const addButton = document.querySelector("form button[type=button]");
        const addMethod = () => {
          const clone = template.content.cloneNode(true);
          console.log({ clone });
          addButton.insertAdjacentElement("beforebegin", clone.children[0]);
        };
        addButton.addEventListener("click", addMethod);
        addMethod();
      });
    </script>
  </Container>
</Layout>

<style lang="scss">
  form {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 480px) {
    form {
      margin-top: 40px;
    }
  }
  ul {
  }
  li {
    display: flex;
    margin-bottom: 1em;
  }
  label {
    width: 100%;
    max-width: 160px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    label {
      max-width: inherit;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  label {
    margin-top: 8px;
    margin-bottom: auto;
  }
  @media screen and (max-width: 480px) {
    label {
      margin-top: 0;
    }
  }

  input {
    border: 1px solid #ddd;
    border-radius: 6px;

    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    input {
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;
      font-size: 15px;
    }
  }
  textarea {
    border: 1px solid #ddd;
    border-radius: 6px;

    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    textarea {
      margin-top: 18px;
      margin-left: 0;
      height: 200px;
      flex: inherit;
      font-size: 15px;
    }
  }
  button {
    background-color: $text-color;
    width: fit-content;
    margin-inline: auto;
    margin-top: 40px;
    display: block;
    color: white;
    padding: 1em 3em;
    border-radius: 40px;
    font-weight: bold;
  }
  @media screen and (max-width: 480px) {
    button {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
    }
  }
</style>
