---
import Layout from "../layouts/Layout.astro";
import SectionTitle from "../components/SectionTitle.astro";

import { pageInfo } from "../libs/constants";
import { Image } from "astro:assets";

import Container from "../components/Container.astro";

const pageKey = "TOP";
const className = "pageTop";
---

<Layout pageClass={className}>
  <section class="section">
    <Container>
      <SectionTitle ja="テキスト" en="テキスト" />

      <a href="/about/">aboutページへ</a>
    </Container>
  </section>
</Layout>

<script></script>
<style lang="scss"></style>
