---
export interface Type {
  en: string;
  ja: string;
}
const { ja, en } = Astro.props;
---

<div>
  <p class="en">{en}</p>
  <h2 class="ja">{ja}</h2>
</div>

<style lang="scss">
  .sectionTitle {
   .ja {
                }
  .en {

  }
  }
</style>
